.img-container {
    position: relative;
    height: 100vh; /* Set height to fill the viewport */
  }
  
  .img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Maintain aspect ratio and fill the container */
    position: sticky;
    top: 0;
  }
  
  .text-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 20%;
    background-color: rgba(255, 255, 255, 0.8); /* White background with opacity */
    padding: 10px; /* Adjust padding as needed */
    box-sizing: border-box; /* Include padding and border in the element's total width and height */
    display: flex; /* Center text vertically */
    justify-content: center; /* Center text horizontally */
    align-items: center; /* Center text vertically */
  }
  
  .textre {
    margin: 0;
    color: black; /* Text color */
    font-size:40px; /* Increased font size */
    text-align: center; /* Text alignment */
    font-weight: bolder;
  }
  
  .list {
    background-color: #f2ecec; /* Navbar background color */
}

.list ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center; /* Align list items horizontally */
}

.list li {
    display: inline-block;
}

.list a {
    display: block;
    color: rgb(0, 0, 0); /* Anchor text color */
    padding: 15px 25px; /* Padding for each list item */
    text-decoration: none; /* Remove underline from anchor */
}

.list a:hover {
    background-color: #fa8a1b; /* Hover background color */
}
.container {
    display: flex;
    justify-content: center; /* Horizontally center */
    align-items: center; /* Vertically center */
    height: 50vh; /* Adjust height as needed */
}

.text {
    text-align: center; /* Center align the text */
}


.row {
    margin: 0 -5px;
    padding-left: 70px;
    cursor: pointer;
  }
  
  .row1 {
    margin: 0 -5px;
    padding-left: 580px;
    cursor: pointer;
  }
  
  .row:after,
  .row1:after {
    content: "";
    display: table;
    clear: both;
  }
  
  .column2 {
    float: left;
    width: 23%;
    padding-left: 20px;
    transition: transform 0.5s;
  }
  
  .column1 {
    float: left;
    width: 35%;
    padding-left: 20px;
    transition: transform 0.5s;
  }
  
  .card {
    height: 300px;
    width: 250px;
    box-sizing: border-box;
    padding: 30px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    font-size: 20px;
    text-align: center;
    background-color: #f1f1f1;
    transition: transform 0.5s, box-shadow 0.5s;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  
  .card:hover {
    color: #ff6200;
    background-color: #ff6200;
    box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.4);
    transform: translateY(-5px);
  }
  
  .card p {
    font-size: 16px;
    margin-top: 10px;
    height: 90px;
    overflow: hidden;
  }